@page
@using Payment.Web.Pages.Payment
@inherits Payment.Web.Pages.PaymentPageBase
@model Payment.Web.Pages.Payment.CheckoutCallbackModel
@{
	PageLayout.Content.Title = L["Redirecting"];
}
<p>@L["Redirecting"]</p>