@page
@using Payment.Web.Pages.Payment
@inherits Payment.Web.Pages.PaymentPageBase
@model Payment.Web.Pages.Payment.CheckoutPageModel

@section scripts {
    <abp-script-bundle name="@typeof(CheckoutPageModel).FullName">
        <abp-script src="/client-proxies/Payment-proxy.js" />
    </abp-script-bundle>
}

<h1>Checkout</h1>

<abp-card>
    <abp-card-header>
        <h2>Product Information</h2>
    </abp-card-header>
    <abp-card-body>
        <ul>
            <li>Product name: @Model.PaymentRequest.ProductName</li>
            <li>Amount: @Model.PaymentRequest.Price</li>
        </ul>
    </abp-card-body>
</abp-card>

<abp-card>
    <abp-card-body>
        <form method="post">
            <abp-button type="submit" button-type="Primary">Complete the payment</abp-button>
        </form>
    </abp-card-body>
</abp-card>