apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
    spec:
      containers:
      - image: {{ .Values.containerImage }}:{{ .Values.global.eventHubImageVersion }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        name: {{ .Release.Name }}-{{ .Chart.Name }}
        env:
{{ include "eventhub.global.env" . | indent 8 }}
        - name: "ConnectionStrings__Default"
          value: {{ .Values.global.defaultConnString }}