@model EventHub.Web.Pages.Organizations.Components.MembersArea.MembersAreaViewComponent.MembersAreaViewComponentModel
<h5 class="detail-head mt-5 font-weight-bold" data-organization-id="@Model.OrganizationId">Members (@Model.TotalCount)</h5> 
<div>
    @foreach (var member in Model.Members)
    {
        <img gravatar-email="@member.Email" default-image="Wavatar" gravatar-size="60" class="org-avatar avatar rounded-circle"/>
    }
</div> 
@if (Model.TotalCount > 10)
{
    // ToDo: Implement show more!!!
    <button class="btn btn-secondary btn-lg mt-3">
        Show More
    </button>
}