@page "/organizations"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.Index

<h1>Organizations</h1>

<ul>
    @foreach (var organization in Model.Organizations)
    {
        <li>@organization.Name</li>
    }
</ul>
