@page "/organizations/new"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.New
<h1>@L["NewOrganization"]</h1>
<abp-dynamic-form abp-model="Organization" submit-button="true" />
