# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.EventHub.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Github\abp-book\eventhub\.idea\.idea.EventHub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
