@model EventHub.Web.Pages.Events.Components.AttendeesArea.AttendeesAreaViewComponent.AttendeesAreaViewComponentModel
<abp-card class="mb-3" data-event-id="@Model.EventId">
    <abp-card-body>
        <abp-card-title>Attendees (@Model.TotalCount)</abp-card-title>
        <abp-card-text>
            <ul id="EventAttendeeList">
                @foreach (var attendee in Model.Attendees)
                {
                    <li class="border p-2 mb-2"><i class="fas fa-user"></i> @Model.GetAttendeeName(attendee)</li>
                }
            </ul>
        </abp-card-text>
    </abp-card-body>
</abp-card>
