@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<EventHubResource> L
<abp-card class="mb-3">
    <abp-card-body>
        <a id="EventRegisterButton" abp-button="Primary" href="#"> @L["RegisterNow"]</a>
    </abp-card-body>
</abp-card>
