@page "/organizations"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using EventHub.Web.Pages.Organizations.Components.OrganizationsArea
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.IndexPageModel

<div class="container-fluid p-0">
    <div class="inner-banner inner-banner-2">
        <div class="container">
            <div class="row align-items-center" style="min-height: 250px;">
                <div class="col">
                    <h1>Organizations</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Page("/Index")">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Organizations</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @await Component.InvokeAsync(typeof(OrganizationsAreaViewComponent), new
    {
        maxResultCount = 12
    })
</div>