@using Microsoft.AspNetCore.Http
@model EventHub.Web.Pages.Events.Components.CreateEventArea.CreateEventAreaViewComponent.NewEventViewModel

@{
    if (Model is null)
    {
        throw new BadHttpRequestException("");
    }
    
    var eventId = ViewData["EventId"] as Guid?;
}

<div id="CreateEventContainer">
    <partial name="_newEventSection.cshtml" model="@Model"/>
</div>
<div id="CreateTrackContainer" style="display: none">
    <partial name="_addTrackSection.cshtml" model="@Model.Tracks"/>
</div>


<input type="hidden" id="EventId" value="@eventId"/>
