<footer>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="index.html" class="footer-logo">
                    EventHub
                </a>
            </div>
            <div class="col-md">
                <h5>Account</h5>
                <div class="footer-links">
                    <a href="#" class="d-block">Sign Up</a>
                    <a href="#" class="d-block">Log In</a>
                    <a href="#" class="d-block">Help</a>
                </div>
            </div>
            <div class="col-md">
                <h5>Organizations</h5>
                <div class="footer-links">
                    <a href="#" class="d-block">Nearby Events</a>
                    <a href="#" class="d-block">Online Events</a>
                </div>
            </div>
            <div class="col-md">
                <h5>Follow Us</h5>
                <div class="footer-links">
                    <a href="#">
                        <img src="assets/facebook.svg">
                    </a>
                    <a href="#">
                        <img src="assets/twitter.svg">
                    </a>
                    <a href="#">
                        <img src="assets/in.svg">
                    </a>
                    <a href="#">
                        <img src="assets/you.svg">
                    </a>
                    <a href="#">
                        <img src="assets/google.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <span class="copyright">© 2021 EventHub</span>
            </div>
            <div class="col-md text-center text-md-right">
                <a href="#">
                    Kişisel Verilerin Korunması Kanunu (KVKK)
                </a>
                <span>
                    <img src="assets/seperator2.svg" class="mx-3">
                </span>
                <a href="#">
                    Terms of Service
                </a>
                <span>
                    <img src="assets/seperator2.svg" class="mx-3">
                </span>
                <a href="#">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>