@using EventHub.Web
@using Microsoft.AspNetCore.Http.Extensions
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser

<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="@Url.Page("/index")" class="footer-logo">
                    EventHub
                </a>
            </div>
              
            <div class="col-md">
                @if (!CurrentUser.IsAuthenticated)
                {
                    <h5>Account</h5>
                    <div class="footer-links">

                        <a href="@EventHubExternalUrls.EhAccount/account/register?returnUrl=@EventHubExternalUrls.EhWww@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))" class="d-block">Sign Up</a>
                        <a href="/account/login?returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))" class="d-block">Log In</a>

                    </div>
                }
            </div>
            <div class="col-md">
                <h5>Follow Us</h5>
                <div class="footer-links">
                    <a href="https://www.facebook.com/openeventhub">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/openeventhub">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/openeventhub/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/openeventhub">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <span class="copyright">© 2021 EventHub</span>
            </div>
            <div class="col-md text-center text-md-right">
                <a href="@EventHubExternalUrls.EhWww/terms-service">
                    Terms of Service
                </a>
                <span>
                    <img src="/assets/seperator2.svg" class="mx-3">
                </span>
                <a href="@EventHubExternalUrls.EhWww/privacy-policy">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>