@page
@using EventHub.Web.Pages.Events.Components.EventsArea
@model EventHub.Web.Pages.Events.IndexModel

<div class="container-fluid p-0">
    <div class="inner-banner">
        <div class="container">
            <div class="row align-items-center" style="min-height: 250px;">
                <div class="col">
                    <h1>Upcoming Events</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-auto">
            <div class="row filter-select">
                <div class="col-4 pr-0">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>When</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4 pr-0">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Event Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
    {
        maxResultCount = 9,
        skipCount = 0
    })
</div>