 
  
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  .form-label-group input:-moz-placeholder {
    color: transparent;
  }
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  } 
 

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative; 
}

.form-label-group > input  { 
  padding: 14px 20px;
}
.form-label-group > label {
  padding: 14px 20px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5; 
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25em;
  transition: all 0.1s ease-in-out;  
}
 
.form-label-group input:not(:placeholder-shown) {
  padding: 17px 20px 0;

}

.form-label-group input:not(:placeholder-shown)  ~ label {
  padding: 7px 20px;
  font-size: 0.72em; 
  opacity: .75; 
} 

.search-event 
.form-label-group > label { 
  color: white;
}
label {
  font-size: 14px;
}
select option { 
  background:#EFEFF4; 
  color: #00044A;
}