@page "/privacy-policy"
@using EventHub.Web.Pages
@model EventHub.Web.Pages.PrivacyPolicy

    <main class="static-page container mt-5">
        <div class="d-print-none">
            <div class="container">
                <div class="row">
                    <div class="col-auto me-auto"></div>
                    <div class="col-auto">
                        <abp-button icon="print" text="Print" onclick="javascript:window.print();"></abp-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm rounded">
            <div class="card-body p-lg-5 p-md-4">
                <div class="page-title">
                    <h1>Privacy Policy &#x26; Cookie Policy</h1>
                </div>

                <section class="sub-section">
                    <p>
                        This policy is about how Volosoft uses and processes your data when shared
                        through our website or service. It was last updated on @PrivacyPolicy.LastUpdateDate
                    </p>
                    <h2>
                        1. GENERAL
                    </h2>
                    <p>
                        This Privacy Policy describes how Volosoft (the “Company”, “we”, or “us”)
                        collects, uses, stores, shares and protects your personal information in
                        connection with your use of both the platform accessible through our
                        websites including <a href="http://jtable.org">jtable.org</a>,
                        <a href="https://aspnetzero.com/">aspnetzero.com</a>,
                        <a href="https://aspnetboilerplate.com">aspnetboilerplate.com</a>,
                        <a href="https://abp.io/">abp.io</a>,
                        <a href="https://volosoft.com/">volosoft.com</a> (together with
                        their sub-domains, content and services, collectively referred to hereafter
                        as the “Site”) and the services we may offer through the Site from time to
                        time. The Site and the filtering services provided thereunder, are
                        individually and collectively referred to herein as the “Services”. This
                        policy (together with our Terms and Conditions) sets out the basis on which
                        any personal data we collect from you, or that you provide to us, will be
                        processed by us. Please read the following carefully to understand our
                        views and practices regarding your personal data and how we will treat it
                    </p>
                    <h2>
                        2. DATA CONTROLLER
                    </h2>
                    <p>
                        Personal information is processed by us, an entity incorporated in
                        accordance with the laws of Turkey and with following contact details;
                    </p>
                    <p>
                        Volosoft Bilişim Anonim Şirketi <br />
                        Address: Yesilkoy SB Mah. E-Blok Sok. E1 Blok. 34149, No:2 BAKIRKOY / ISTANBUL
                    </p>
                    <h2>
                        3. DATA WE RECEIVE
                    </h2>
                    <p>
                        <h3>3.1. Web Server Logs</h3>
                    </p>
                    <p>
                        When you visit our website, we may track information from your visit. With
                        each visit we may automatically collect the following information:
                    </p>
                    <p>
                        Technical information, including the internet protocol (IP) address used to
                        connect your computer to the internet, your login information, browser type
                        and version, time zone setting, browser plug-in types and versions,
                        operating system and platform.
                    </p>
                    <p>
                        Information about your visit, including the full Uniform Resource Locators
                        (URL) clickstream to, through and from our site (including date and time);
                        products you viewed or searched for; page response times, download errors,
                        length of visits to certain pages, page interaction information, methods
                        used to browse away from the page.
                    </p>
                    <p>
                        <h3>3.2. Third – Party Technologies</h3>
                    </p>
                    <p>
                        We use Google services (Analytics, Remarketing, Display). We use
                        Remarketing with Google Analytics to advertise online. Third-party vendors,
                        including Google, may show our ads on sites across the internet. We and
                        third-party vendors, including Google, use first-party and third-party
                        cookies together to inform, optimize, and serve ads based on a person’s
                        past visits to our website.
                    </p>
                    <p>
                        <h3>3.3. Personal Data Obtained From You</h3>
                    </p>
                    <p>
                        Visitors can register or fill out the necessary forms to obtain access to
                        some parts of our websites (including but not limited to download pages,
                        online service pages, blog to email services). We will ask you for some
                        Personal Data or information related to your role in the organization you
                        represent. Some of the information requested will be required for
                        registration or transaction and some may be optional. Also, we may ask you
                        to disclose further Personal Information to enable us to provide assistance
                        and information to you. We may also collect and process data about you to
                        help in administrative purposes. You may give us personal information by
                        signing End User License Agreement, filling the forms and in the
                        registration/download form on our websites or by sending other
                        documentation. The Personal Information that you give us may include your
                        name, address, e-mail address and phone number, and other relevant
                        information. During the Support, we may process your
                    </p>
                    <p>
                        <h3>3.4. Data collected by our products and services</h3>
                    </p>
                    <p>
                        The data collected by our products and services is used for the purpose
                        that you provided it for and to improve the products and services, usage,
                        compatibility with operating systems and other 3rd party products and
                        services. The data that is automatically collected may include IP
                        addresses, operating system, operating system version, operating system
                        language, browser type, geographic location, browser language, device
                        information and other information.
                    </p>

                    <div style="clear: both;page-break-before: always;"></div>

                    <h2>
                        4. LEGAL BASIS AND PURPOSE OF PROCESSING
                    </h2>
                    <p>
                        We will process your data when we have to perform a contract, and we will
                        be processing your data as long as the contractual relationship with you is
                        in force and during the five years following the end of said relationship.
                        This results in us having to process your data for purposes of providing
                        you with both the Services, as well as to perform our obligations under the
                        Services
                    </p>
                    <p>
                        Subject to obtaining your consent, and if you do not withdraw any such
                        consent, we may also process your data for the following purposes
                    </p>
                    <p>
                        a) To send you electronic commercial communications (if you subscribe to
                        our newsletter) or to answer the requests you may address us when
                        contacting us;
                    </p>
                    <p>
                        b) To process information obtained through cookies, as described in more
                        detail in the Cookie Policy, and subject to the terms set forth therein;
                    </p>
                    <p>
                        c) If you opt to sign in by means of a third-party social media platform,
                        we may obtain ID confirmation and other information from that third party,
                        as mentioned in each case;
                    </p>
                    <p>
                        d) For profiling purposes based on your behavior and how you browse the
                        Site and use the Services, which pages you have visited, and to build
                        audiences. Please note that we may profile users by means of cookies. In
                        those cases, your acceptance of the installation and use of cookies results
                        in a data processing for profiling purposes, as described in this
                        paragraph.
                    </p>
                    <p>
                        When we have to comply with a legal obligation applicable to us from time
                        to time, such as those set forth in Regulation of Publications on the
                        Internet No: 5651, Criminal Code laws. In any such cases, the data will be
                        processed only during the periods set forth by said laws, being deleted
                        thereafter.
                    </p>
                    <p>
                        Finally, we may also process your data to protect our <strong>legitimate interests</strong>, as long as said data is strictly
                        necessary to fulfil the goals set forth below, namely:
                        <br />
                        a) To review, monitor, investigate, and analyze how to improve the Services
                        and/or the Site, as well as to keep our Services and the Site secure and
                        operational and prevent abusive activity (e.g. fraud, spam, phishing
                        activities, etc.). The interests at stake are ensuring a correct and safe
                        environment for both other users and us, taking those interests prevalence
                        over your legitimate interests (we need to create and maintain an
                        environment which is in accordance with the law, the legitimate interests
                        of other parties, what other users may expect from our end, and to protect
                        other users’ security when accessing the Site and using the Services);
                        <br />
                        b) Besides any commercial electronic and non-electronic commercial
                        communication sent when we have obtained your consent as mentioned above,
                        we may also send you those kind of communications when you are our client.
                        In this last case, we will only send you information belonging to us and
                        concerning services and/or products identical or similar to the ones you
                        have contracted with us. In these cases, we have a legitimate interest in
                        processing your contact information to keep you informed about any of our
                        products and services, prevailing this interest over your right to personal
                        data given the non-sensitive nature of the data in question and the fact
                        that the contractual relationship built with our clients results in those
                        clients expecting these kinds of communications; and
                        <br />
                        c) Upon dissociating the data we have so as to be impossible to be
                        associated to you or any other person, to perform statistical and other
                        analysis on information we collect (technical and metadata).
                    </p>
                    <h2>
                        5. TRANSFER OF DATA
                    </h2>
                    <p>
                        We share your information with our service providers who help us to provide
                        the Services to you, in which case those third parties are required to
                        comply with our internal standards, policies, and technical and
                        organizational measures that ensure that your data is protected and kept
                        confidential at all times, and only in accordance with and to the extent
                        authorized by this Privacy Policy. When you authorize us to do so, we may
                        also share your data with other parties that they can process the data for
                        other purposes, as explained more in detail when we request your prior
                        consent.
                    </p>
                    <p>
                        We may also share your information with competent courts and authorities,
                        when we are legally required to do so (for instance, to allow such bodies
                        to investigate, prevent, or take action against illegal activities), or we
                        have to take action to protect our rights or any third-party rights.
                    </p>
                    <h2>
                        6. DATA RETENTION
                    </h2>
                    <p>
                        We retain personal data that we collect only for as long as necessary for
                        the purpose for which you have provided the data for or for as long as we
                        legitimately need to do so, or as long as required for tax, legal or other
                        regulatory requirements request us to do for compliance with such.
                    </p>
                    <p>
                        If your personal data is no longer required for any legitimate reason to be
                        stored, we will delete, securely destroy, erase it, or in case it is not
                        possible for example in backups or archives your data will be destroyed
                        when deletion is possible.
                    </p>

                    <div style="clear: both;page-break-before: always;"></div>

                    <h2>
                        7. USE OF COOKIES
                    </h2>
                    <p>
                        7.1. Our Site may place and access certain first party Cookies on your
                        computer or device. First party Cookies are those placed directly by Us and
                        are used only by Us. We use Cookies to facilitate and improve your
                        experience of Our Site. By using Our Site, you may also receive certain
                        third-party Cookies on your computer or device. Third party Cookies are
                        those placed by websites, services, and/or parties other than Us. Third
                        party Cookies are used on Our Site for advertising services. These Cookies
                        are not integral to the functioning of Our Site and your use and experience
                        of Our Site will not be impaired by refusing consent to them. By giving
                        your consent to the placing of Cookies you are enabling Us to provide the
                        best possible experience and service to you. You may, if you wish, withdraw
                        your consent and delete Cookies by using browser settings; however certain
                        features of Our Site may not function fully or as intended.
                    </p>

                    <p>
                        7.2. The following first party Cookies may be placed on your computer or
                        device:
                    </p>

                    <h3>
                        Necessary Cookies
                    </h3>

                    <table cellpadding="10">
                        <tbody>
                            <tr style="border-bottom:1pt solid black;">
                                <td>
                                    <strong>COOKIE</strong>
                                </td>
                                <td>
                                    <strong>DESCRIPTION</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>AspNetCore.Antiforgery.#</strong>
                                </td>
                                <td>
                                    Helps prevent Cross-Site Request Forgery (CSRF) attacks.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>__cfruid</strong>
                                </td>
                                <td>
                                    This cookie is a part of the services provided by
                                    Cloudflare - Including load-balancing, deliverance of
                                    website content and serving DNS connection for website
                                    operators.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Csrftoken</strong>
                                </td>
                                <td>
                                    This cookie is used to distinguish between h umans and bots
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>XSRF-TOKEN</strong>
                                </td>
                                <td>
                                    Ensures visitor browsing-security by preven ting cross-site
                                    request forgery. This cookie is essential for the security
                                    of the website and visitor.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>
                        Third Party Cookies
                    </h3>

                    <table cellpadding="10">
                        <tbody>
                            <tr style="border-bottom:1pt solid black;">
                                <td>
                                    <strong>
                                        COOKIE
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        DESCRIPTION
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>_ga</strong>
                                </td>
                                <td>
                                    Registers a unique ID that is used to generate statistical
                                    data on how the visitor uses the website.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        _gat
                                    </strong>
                                </td>
                                <td>
                                    Used by Google Analytics to throttle request rate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        _gid
                                    </strong>
                                </td>
                                <td>
                                    Registers a unique ID that is used to generate statistical
                                    data on how the visitor uses the website
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Collect
                                    </strong>
                                </td>
                                <td>
                                    Used to send data to Google Analytics about the visitor's
                                    device and behavior. Tracks the visitor across devices and
                                    marketing chann els.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.vid
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to
                                    strore the visitor ID.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.visits
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the number of visits.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.chatid
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the conversation ID (expires when browser is closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.group
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the last group of visitor (expires when browser is closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.opened
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the if the chat box opened (expires when browser is closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.barclicked
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    if the chat box is opened, needed for automatic messages
                                    (expires when browser is closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.message
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the content in text area if page is refreshed (expires when
                                    browser is closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.unreaded
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the number of unread messages (expires when browser is
                                    closed)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        ssupp.position
                                    </strong>
                                </td>
                                <td>
                                    The cookie is set by <a href="https://www.smartsupp.com/">Smartsupp</a> to store
                                    the position of chat box, if moved by visitor (expires when browser is closed)
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p>
                        In addition to the controls that We provide, you can choose to enable or
                        disable Cookies in your internet browser. Most internet browsers also
                        enable you to choose whether you wish to disable all cookies or only
                        third-party Cookies. By default, most internet browsers accept Cookies but
                        this can be changed.
                    </p>

                    <div style="clear: both;page-break-before: always;"></div>

                    <h2>
                        8. DATA SUBJECT RIGHTS
                    </h2>
                    <p>
                        By requesting to our company within the frame of Article 11 of Law No.
                        6698; you may claim request to access rights as set forth below.
                    </p>

                    <ul>
                        <li>
                            Inquiry on whether personal data is processed;
                        </li>
                        <li>
                            Requesting information about personal data if it has been processed;
                        </li>
                        <li>
                            Inquiry on the purpose of processing personal data and whether they are
                            used appropriately for the purpose;
                        </li>
                        <li>
                            Finding out whether the third parties to which personal data are
                            transferred in the country or abroad;
                        </li>
                        <li>
                            Requesting correction of personal data if it is incomplete or improperly
                            processed, and requesting that third parties to this process be notified of the transfer
                            of personal data;
                        </li>
                        <li>
                            Requesting that personal data be deleted or destroyed in the event that
                            the reasons for its processing is not fulfilled despite the fact that it has been processed
                            in accordance with the provisions of Law No. 6698 and other related laws,
                            and requesting that the process performed in this context be notified to
                            third parties;
                        </li>
                        <li>
                            Objection to the appearance of a result against the person himself by
                            analyzing the processed data exclusively through automated systems;
                        </li>
                        <li>
                            Having the right to claim damages in the event of a corruption due to the
                            processing of personal data in violation of the law
                        </li>

                    </ul>
                    <h2>
                        9. CONTACT
                    </h2>
                    <p>
                        You may contact us via our privacy e-mail <a href="mailto:info@volosoft.com">info@volosoft.com</a>.
                        Please send e-mail through this adress for exercise your rights.
                    </p>
                </section>

            </div>
        </div>
        <div class="d-print-none">
            <div class="container">
                <div class="row">
                    <div class="col-auto me-auto"></div>
                    <div class="col-auto">
                        <abp-button icon="print" text="Print" onclick="javascript:window.print();"></abp-button>
                    </div>
                </div>
            </div>
        </div>
    </main>