@page
@using EventHub.Web.Pages.Events.Components.EventsArea
@using EventHub.Web.Pages.Organizations.Components.OrganizationsArea
@using Volo.Abp.Timing
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IClock Clock
@model EventHub.Web.Pages.ProfileModel

<div class="container pt-4">
    <div class="row py-4">
        <div class="col-md">
            <ul class="nav nav-tabs profile-nav" id="myTab">
                <li class="nav-item">
                    <a href="#MyProfile" class="nav-link active" data-toggle="tab">My Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#MyOrganizations" class="nav-link" data-toggle="tab">My Organizations</a>
                </li>
                <li class="nav-item">
                    <a href="#MyPastEvents" class="nav-link" data-toggle="tab">My Past Events</a>
                </li>
                <li class="nav-item">
                    <a href="#MyUpcomingEvents" class="nav-link" data-toggle="tab">My Upcoming Events</a>
                </li>
            </ul>
            <div class="tab-content profile-content py-4">
                <div id="MyProfile" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h3 class="text-left">Profile Photo</h3>
                                    <img src="assets/big-avatar.png">
                                    <p class="mt-3">
                                        You should note that the photo to be added does not exceed <span class="text-primary">30 MB</span> in <span class="text-primary">JPEG</span> or <span class="text-primary">PNG</span> format.
                                    </p>

                                    <a href="#" class="btn btn-primary btn-lg mt-2">
                                        Update Profile Photo
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">Profile Informations</h3>
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="Name" id="inputName" class="form-control" placeholder="Name" required="">
                                                    <label for="inputName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="Surname" id="inputSurname" class="form-control" placeholder="Surname" required="">
                                                    <label for="inputSurname">Surname</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="Email" id="inputEmail" class="form-control" placeholder="Email" required="">
                                                    <label for="inputEmail">E-mail Address</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="location" id="inputLocation" class="form-control" placeholder="Location" required="">
                                                    <label for="inputLocation">Location</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="Company" id="inputCompany" class="form-control" placeholder="Company" required="">
                                                    <label for="inputCompany">Company</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="Title" id="inputTitle" class="form-control" placeholder="Title" required="">
                                                    <label for="inputTitle">Title</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-label-group">
                                                    <input type="Bio" id="inputBio" class="form-control" placeholder="Bio" required="">
                                                    <label for="inputBio">Bio</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-right">
                                                <a href="#" class="btn btn-primary btn-lg">
                                                    Update Information
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h3 class="mb-4">Change Password</h3>
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="OldPassword" id="inputName" class="form-control" placeholder="Old Password" required="">
                                                    <label for="inputOldPassword">Old Password</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="NewPassword" id="inputName" class="form-control" placeholder="New Password" required="">
                                                    <label for="inputNewPassword">New Password</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="NewPassword2" id="inputName" class="form-control" placeholder="New Password (Again)" required="">
                                                    <label for="inputNewPassword2">New Password (Again)</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <a href="#" class="btn btn-primary btn-lg">
                                                    Update Information
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyOrganizations" class="tab-pane fade">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Organizations</h3>
                                    @await Component.InvokeAsync(typeof(OrganizationsAreaViewComponent), new
                                    {
                                        registeredUserId = CurrentUser.GetId(),
                                        maxResultCount = 12
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyPastEvents" class="tab-pane fade">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Past Events</h3>
                                    <div class="past-events">
                                        @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
                                        {
                                            maxDate = Clock.Now.ClearTime(),
                                            registeredUserId = CurrentUser.GetId(),
                                            maxResultCount = 6,
                                            skipCount = 0
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyUpcomingEvents" class="tab-pane fade">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Upcoming Events</h3>
                                    @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
                                    {
                                        minDate = Clock.Now.ClearTime(),
                                        registeredUserId = CurrentUser.GetId(),
                                        maxResultCount = 6,
                                        skipCount = 0
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>