@page "/profile"
@using EventHub.Web.Pages.Events.Components.EventsArea
@using EventHub.Web.Pages.Organizations.Components.OrganizationsArea
@using Volo.Abp.Timing
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IClock Clock
@model EventHub.Web.Pages.ProfileModel

<div class="container pt-4">
    <div class="row py-4">
        <div class="col-md">
            <ul class="nav nav-tabs profile-nav" id="profileTab">
                <li class="nav-item">
                    <a href="#MyOrganizations" class="nav-link active" data-toggle="tab">My Organizations</a>
                </li>
                <li class="nav-item">
                    <a href="#MyPastEvents" class="nav-link" data-toggle="tab">My Past Events</a>
                </li>
                <li class="nav-item">
                    <a href="#MyUpcomingEvents" class="nav-link" data-toggle="tab">My Upcoming Events</a>
                </li>
            </ul>
            <div class="tab-content profile-content py-4">
                <div id="MyOrganizations" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Organizations</h3>
                                    @await Component.InvokeAsync(typeof(OrganizationsAreaViewComponent), new
                                    {
                                        registeredUserId = CurrentUser.GetId(),
                                        maxResultCount = 12
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyPastEvents" class="tab-pane fade">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Past Events</h3>
                                    <div class="past-events">
                                        @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
                                        {
                                            maxDate = Clock.Now.ClearTime(),
                                            registeredUserId = CurrentUser.GetId(),
                                            maxResultCount = 6,
                                            skipCount = 0
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyUpcomingEvents" class="tab-pane fade">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="min-height: 496px">
                                    <h3 class="mb-4">My Upcoming Events</h3>
                                    @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
                                    {
                                        minDate = Clock.Now.ClearTime(),
                                        registeredUserId = CurrentUser.GetId(),
                                        maxResultCount = 6,
                                        skipCount = 0
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>