@page "/terms-service"
@model EventHub.Web.Pages.TermsService

<main class="static-page container mt-5"> 
    <div class="d-print-none">
        <div class="container">
            <div class="row">
                <div class="col-auto me-auto"></div>
                <div class="col-auto">
                    <abp-button icon="print" text="Print" onclick="javascript:window.print();"></abp-button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm rounded">
        <div class="card-body p-lg-5 p-md-4">
            <div class="page-title">
                <h1>Terms and Conditions</h1>
            </div>

            <section class="sub-section">
                <strong>
                    BACKGROUND:
                </strong>
                <p>
                    This agreement applies as between you, the <strong>User</strong> of this <strong>Web Site</strong> or <strong>Purchaser</strong> and  <strong>Volosoft Bilişim Anonim Şirketi</strong>, the owner(s) of this Web
                    Site. Your agreement to comply with and be bound by these    <strong>Terms and Conditions</strong> is deemed to occur upon your first
                    use of the Web Site. If you do not agree to be bound by these Terms and
                    Conditions, you should stop using the Web Site immediately.
                </p>
                <p>
                    No part of this Web Site is intended to constitute a contractual offer
                    capable of acceptance. The Purchaser's order constitutes a contractual
                    offer and our acceptance of that offer is deemed to occur upon our sending
                    a dispatch email to the Purchaser indicating that the order has been
                    fulfilled and has been dispatched. <a href="https://commercial.abp.io/Eula">Eula</a>, <a href="https://commercial.abp.io/Privacy">Privacy</a>, and
                    <a href="https://commercial.abp.io/TermsConditions">Terms &amp; Conditions</a>
                    support each other and together form part of your agreement with Volosoft Bilişim Anonim Şirketi.
                </p>
                <h2>
                    1. Definitions and Interpretation
                </h2>
                <p>
                    In this Agreement the following terms shall have the following meanings:
                </p>
                <table cellpadding="10">
                    <tbody>
                        <tr>
                            <td>
                                <strong>"Account"</strong>
                            </td>
                            <td>
                                means collectively the personal information, Payment
                                Information and credentials used by Users to access Paid
                                Content and / or any communications System on the Web Site;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Content"</strong>
                            </td>
                            <td>
                                means any text, graphics, images, audio, video, software,
                                data compilations and any other form of information capable
                                of being stored in a computer that appears on or forms part
                                of this Web Site;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Goods"</strong>
                            </td>
                            <td>
                                means any products that advertises and / or makes available
                                for sale through this Web Site;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Volosoft Bilişim Anonim Şirketi
                                </strong>
                            </td>
                            <td>
                                means <strong>Volosoft Bilişim Anonim Şirketi</strong>, a
                                company registered in Turkey under company number 28400-5
                                whose registered office address is Yeşilköy SB Mah. E Blok
                                Sk. E1 Blok Apt. No:2 Bakırköy.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Service"</strong>
                            </td>
                            <td>
                                means collectively any online facilities, tools, services
                                or information that Volosoft Bilişim Anonim Şirketi
                                makes available through the Web Site either now or in the
                                future;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Payment Information"</strong>
                            </td>
                            <td>
                                means any details required for the purchase of Goods from
                                this Web Site. This includes, but is not limited to, credit
                                / debit card numbers, bank account numbers and sort codes;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Purchaser"</strong>
                            </td>
                            <td>
                                means any person or business that buys Goods from <a name="Text78"></a> Volosoft Bilişim Anonim Şirketi
                                from Volosoft’ s websites;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Purchase Information"</strong>
                            </td>
                            <td>
                                means collectively any orders, invoices, dispatch notes,
                                receipts or similar that may be in hard copy or electronic
                                form;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Premises"</strong>
                            </td>
                            <td>
                                means our normal place(s) of business listed on our website
                                at <a href="https://volosoft.com/">https://volosoft.com</a>;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"System"</strong>
                            </td>
                            <td>
                                means any online communications infrastructure that
                                Volosoft Bilişim Anonim Şirketi makes available through
                                the Web Site either now or in the future. This includes,
                                but is not limited to, web-based email, message boards,
                                live chat facilities and email links;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"User" / "Users"</strong>
                            </td>
                            <td>
                                means any third party that accesses the Web Site and is not
                                employed by Volosoft Bilişim Anonim Şirketi and acting
                                in the course of their employment; and
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>"Web Site"</strong>
                            </td>
                            <td>
                                means the website that you are currently using (<a href="https://volosoft.com/">https://volosoft.com</a>)
                                and any sub-domains of the site ( including
                                https://aspnetzero.com, https://commercial.abp.io,
                                https://abp.io, http://jtable.org,
                                https://aspnetboilerplate.com ) unless expressly excluded
                                by their own terms and conditions.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="clear: both;page-break-before: always;"></div>

                <h2>
                    2. Business Customers
                </h2>
                <p>
                    2.1 These Terms and Conditions apply to business customers only.
                </p>

                <h2>
                    3. Intellectual Property
                </h2>
                <p>
                    3.1 Subject to the exceptions in Clause 5 of these Terms and Conditions,
                    all Content included on the Web Site, unless uploaded by Users, including,
                    but not limited to, text, graphics, logos, icons, images, sound clips,
                    video clips, data compilations, page layout, underlying code and software
                    is the property of Volosoft Bilişim Anonim Şirketi, our affiliates or
                    other relevant third parties. By continuing to use the Web Site you
                    acknowledge that such material is protected by applicable Turkish and
                    International intellectual property and other laws.
                </p>
                <p>
                    3.2 Subject to Clause 6 you may not reproduce, copy, distribute, store or
                    in any other fashion re-use material from the Web Site unless otherwise
                    indicated on the Web Site or unless given express written permission to do
                    so by Volosoft Bilişim Anonim Şirketi.
                </p>
                <h2>
                    4. Third Party Intellectual Property
                </h2>
                <p>
                    4.1 Unless otherwise expressly indicated, all Intellectual Property rights
                    including, but not limited to, Copyright and Trademarks, in product images
                    and descriptions belong to the manufacturers or distributors of such
                    products as may be applicable.
                </p>
                <p>
                    4.2 Subject to Clause 6 you may not reproduce, copy, distribute, store or
                    in any other fashion re-use such material unless otherwise indicated on the
                    Web Site or unless given express written permission to do so by the
                    relevant manufacturer or supplier.
                </p>
                <h2>
                    5. Fair Use of Intellectual Property
                </h2>
                <p>
                    5.1 Material from the Web Site may be re-used without written permission
                    where any of the exceptions detailed in Law number 5846 on Intellectual and
                    Artistic Works apply.
                </p>
                <h2>
                    6. Links to Other Web Sites
                </h2>
                <p>
                    6.1 This Web Site may contain links to other sites. Unless expressly
                    stated, these sites are not under the control of Volosoft Bilişim Anonim Şirketi
                    or that of our affiliates. We assume no responsibility for the
                    content of such web sites and disclaim liability for any and all forms of
                    loss or damage arising out of the use of them. The inclusion of a link to
                    another site on this Web Site does not imply any endorsement of the sites
                    themselves or of those in control of them.
                </p>
                <h2>
                    7. Use of Communications Facilities
                </h2>
                <p>
                    7.1 When using the enquiry form or any other System on the Web Site you
                    should do so in accordance with the following rules:
                </p>
                <p>
                    7.1.1 Obscene or vulgar language must not be used;
                </p>
                <p>
                    7.1.2 Content that is unlawful or otherwise objectionable must not be
                    submitted. This includes, but is not limited to, Content that is abusive,
                    threatening, harassing, defamatory, ageist, sexist or racist;
                </p>
                <p>
                    7.1.3 Content that is intended to promote or incite violence must not be
                    submitted;
                </p>
                <p>
                    7.1.4 the enquiries or communications that are submitted Turkish or English
                    language(s) as we may be unable to respond to enquiries submitted in any
                    other languages;
                </p>
                <p>
                    7.1.5 The means by which Users identify themselves must not violate these
                    terms of use or any applicable laws;
                </p>
                <p>
                    7.1.6 Users must not impersonate other people, particularly employees and
                    representatives of Volosoft Bilişim Anonim Şirketi or our affiliates;
                    and
                </p>
                <p>
                    7.1.7 Our System must not be used for unauthorized mass-communication such
                    as "spam" or "junk mail".
                </p>
                <p>
                    7.2 You acknowledge that Volosoft Bilişim Anonim Şirketi reserves the
                    right to monitor any and all communications made to us or using our System.
                </p>
                <div style="clear: both;page-break-before: always;"></div>

                <h2>
                    8. Termination and Cancellation
                </h2>
                <p>
                    8.1 Either Volosoft Bilişim Anonim Şirketi or a User may terminate an
                    Account. If Volosoft Bilişim Anonim Şirketi terminates your Account, you
                    will be notified by email and an explanation for the termination will be
                    provided. Notwithstanding the foregoing, we reserve the right to terminate
                    without giving reasons.
                </p>
                <p>
                    8.2 If Volosoft Bilişim Anonim Şirketi terminates an Account; any
                    current or pending purchases on your Account will be cancelled and will not
                    be dispatched.
                </p>
                <p>
                    8.3 Volosoft Bilişim Anonim Şirketi reserves the right to cancel
                    purchases without stating reasons, for any reason prior to processing
                    payment and dispatch.
                </p>
                <p>
                    8.4 If purchases are cancelled for any reason prior to dispatch Purchasers
                    will be refunded any monies paid in relation to those purchases.
                </p>
                <p>
                    8.5 If a User terminates their Account any non-dispatched purchases will be
                    cancelled and a full refund of any monies paid in relation to those
                    purchases will be paid through the payment method used when the Goods were
                    purchased.
                </p>
                <p>
                    8.6 Unless a User gives Volosoft Bilişim Anonim Şirketi notice in
                    writing that the User wishes the contract to expire at the end of the
                    current pre-arranged fixed-term period, not less than 90 days before the
                    end of such fixed-term period, contract shall automatically renew at the
                    end of each fixed-term period for a further 12 months on the contract or
                    license end date.
                </p>

                <h2>
                    9. Payment
                </h2>
                <p>
                    9.1 Any and all invoices are due for immediate payment on the date shown on
                    the invoice, unless alternative arrangements have been agreed between the
                    Purchaser and Volosoft Bilişim Anonim Şirketi.
                </p>
                <p>
                    9.2 If any amount owing by User under an Order is 30 or more days overdue,
                    Volosoft Bilişim Anonim Şirketi may, without limiting Our other rights
                    and remedies, suspend User’s account and User’s access to the Services
                    until such amounts owing are paid in full.
                </p>
                <p>
                    9.3 The per unit pricing during any renewal term will increase above the
                    applicable pricing in the prior term, unless Volosoft Bilişim Anonim Şirketi
                    provides the customer notice of different pricing at least 30
                    days prior to the applicable renewal term. Except as expressly provided in
                    the applicable Invoice, Contract or Order Form, renewal of promotional or
                    one-time priced subscriptions will be priced at the applicable list price
                    in effect at the time of the applicable renewal.
                </p>
                <h2>
                    10. Goods, Pricing and Availability
                </h2>
                <p>
                    10.1 Whilst every effort has been made to ensure that all graphical
                    representations and descriptions of Goods available from Volosoft Bilişim Anonim Şirketi
                    correspond to the actual Goods, Volosoft Bilişim Anonim Şirketi is not responsible for any variations from these descriptions.
                    This does not exclude our liability for mistakes due to negligence on our
                    part and refers only to variations of the correct Goods, not different
                    Goods altogether. Please refer to Clause 16.1 for incorrect Goods.
                </p>
                <p>
                    10.2 All pricing information on the Web Site is correct at the time of
                    going online. Volosoft Bilişim Anonim Şirketi reserves the right to
                    change prices and alter or remove any special offers from time to time and
                    as necessary.
                </p>
                <p>
                    10.3 In the event that prices are changed during the period between an
                    order being placed for Goods and Volosoft Bilişim Anonim Şirketi
                    processing that order and taking payment, you will be contacted prior to
                    your order being processed with details of the new price;
                </p>
                <p>
                    10.4 All prices on the Web Site do not include VAT.
                    Volosoft Bilişim Anonim Şirketi's tax number is 9250965754.
                </p>
                <h2>
                    11. Property, Risk and Account of Profits
                </h2>
                <p>
                    11.1 Title in Goods will not pass to the Purchaser until the full purchase
                    price for those Goods has been received by Volosoft Bilişim Anonim Şirketi.
                    Title remains with Volosoft Bilişim Anonim Şirketi until payment is complete.
                </p>
                <p>
                    11.2 If the Purchaser sells the Goods on to its own customers in any form,
                    either as purchased from Volosoft Bilişim Anonim Şirketi or forming a
                    component part of a larger Good, and any amount of the purchase price
                    payable to Volosoft Bilişim Anonim Şirketi remains outstanding, the
                    Purchaser must account to Volosoft Bilişim Anonim Şirketi for the
                    proceeds of such a sale. The Purchaser is then required to hold such
                    proceeds on trust for Volosoft Bilişim Anonim Şirketi until payment has
                    been received in full by Volosoft Bilişim Anonim Şirketi.
                </p>
                <h2>
                    12. Delivery
                </h2>
                <p>
                    12.1 Once your order has been accepted and payment has been received,
                    Volosoft Bilişim Anonim Şirketi will provide you with a license file by
                    email as notification that Goods have been dispatched to you.
                </p>

                <div style="clear: both;page-break-before: always;"></div>

                <h2>
                    13. Return Policy
                </h2>
                <p>
                    13.1 Volosoft Bilişim Anonim Şirketi aims to always provide high quality
                    products that are fault free. On occasion however, softwares may
                    need to be returned. Returns are governed by these Terms and Conditions.
                </p>
                <p>
                    13.2 If the Purchaser receives softwares which do not match those ordered,
                    unless accompanied by an explanatory note detailing the changes, stating
                    reasons for the changes and setting out your options, the Purchaser should
                    contact us in accordance within 30 days to reject the softwares.
                </p>
                <p>
                    13.3 Upon receipt of a rejection under 14.2, the price of the softwares, as
                    paid, will be refunded through the payment method used when the softwares were
                    purchased.
                </p>
                <p>
                    13.5 Volosoft Bilişim Anonim Şirketi reserves the right to exercise
                    discretion with respect to any returns under these Terms and Conditions.
                    Factors which may be considered in the exercise of this discretion include,
                    but are not limited to:
                </p>
                <p>
                    13.5.1 Any use or enjoyment that you may have already had out of the Goods; Such discretion to be exercised only within the confines of the law.
                </p>
                <p>
                    13.6 Refund requests can only be made within 30 days of purchase.
                </p>
                <p>
                    13.7 There are no refunds for product renewal (extend) and second time license purchases unless a credit card was stolen and used to purchase a ABP Commercial license.
                </p>
                <p>
                    13.8 The Business and Enterprise license types have source-code download option,
                    refunds are not available for the Business and Enterprise licenses (and any licenses that include a right to receive source-code).
                </p>
                <h2>
                    14. Privacy
                </h2>
                <p>
                    14.1 Use of the Web Site is also governed by our
                    <a href="https://commercial.abp.io/Privacy">https://commercial.abp.io/Privacy</a>
                    which is incorporated into these terms and conditions by this reference. To
                    view the Privacy Policy, please click on the link above.
                </p>
                <p>
                    14.2 Either party may use the name of and identify the other party as a
                    client or provider in advertising, publicity, or similar materials
                    distributed or displayed to prospective clients.
                </p>
                <h2>
                    15. Disclaimers
                </h2>
                <p>
                    15.1 Volosoft Bilişim Anonim Şirketi makes no warranty or representation
                    that the Web Site will meet your requirements, that it will be of
                    satisfactory quality, that it will be fit for a particular purpose, that it
                    will not infringe the rights of third parties, that it will be compatible
                    with all systems, that it will be secure and that all information provided
                    will be accurate. We make no guarantee of any specific results from the use
                    of our Services.
                </p>
                <p>
                    15.2 No part of this Web Site is intended to constitute advice and the
                    Content of this Web Site should not be relied upon when making any
                    decisions or taking any action of any kind.
                </p>
                <p>
                    15.3 No part of this Web Site is intended to constitute a contractual offer
                    capable of acceptance.
                </p>
                <h2>
                    16. Changes to the Service and these Terms and Conditions
                </h2>
                <p>
                    16.1 Volosoft Bilişim Anonim Şirketi reserves the right to change the
                    Web Site, its Content or these Terms and Conditions at any time. Users and
                    Purchasers will be bound by any changes to the Terms and Conditions from
                    the first time the Web Site is used by them following the changes. If
                    Volosoft Bilişim Anonim Şirketi is required to make any changes to Terms
                    and Conditions relating to sale of Goods by law, these changes will apply
                    automatically to any orders currently pending in addition to any orders
                    placed by Purchasers in the future.
                </p>
                <h2>
                    17. Availability of the Web Site
                </h2>
                <p>
                    17.1 The Service is provided "as is" and on an "as available" basis. We
                    give no warranty that the Service will be free of defects and / or faults.
                    To the maximum extent permitted by the law we provide no warranties
                    (express or implied) of fitness for a particular purpose, accuracy of
                    information, compatibility and satisfactory quality.
                </p>
                <p>
                    17.2 Volosoft Bilişim Anonim Şirketi accepts no liability for any
                    disruption or non-availability of the Web Site resulting from external
                    causes including, but not limited to, ISP equipment failure, host equipment
                    failure, communications network failure, power failure, natural events,
                    acts of war or legal restrictions and censorship.
                </p>
                <h2>
                    18. Limitation of Liability
                </h2>
                <p>
                    18.1 To the maximum extent permitted by law, Volosoft Bilişim Anonim Şirketi
                    accepts no liability for any direct or indirect loss or damage,
                    foreseeable or otherwise, including any indirect, consequential, special or
                    exemplary damages arising from the use of the Web Site or any information
                    contained therein. Users should be aware that they use the Web Site and its
                    Content at their own risk.
                </p>
                <p>
                    18.2 Nothing in these Terms and Conditions excludes or restricts Volosoft Bilişim Anonim Şirketi's
                    liability for death or personal injury
                    resulting from any negligence or fraud on the part of Volosoft Bilişim Anonim Şirketi.
                </p>
                <p>
                    18.3 Nothing in these Terms and Conditions excludes or restricts Volosoft Bilişim Anonim Şirketi's
                    liability for any direct or indirect loss or
                    damage arising out of the incorrect delivery of Goods or out of reliance on
                    incorrect information included on the Web Site.
                </p>
                <p>
                    18.4 Whilst every effort has been made to ensure that these terms and
                    conditions adhere strictly with the relevant provisions of the Turkish Law
                    of Obligations numbered 6098, in the event that any of these terms are
                    found to be unlawful, invalid or otherwise unenforceable, that term is to
                    be deemed severed from these terms and conditions and shall not affect the
                    validity and enforceability of the remaining terms and conditions. This
                    term shall apply only within jurisdictions where a particular term is
                    illegal.
                </p>
                <h2>
                    19. No Waiver
                </h2>
                <p>
                    19.1 In the event that any party to these Terms and Conditions fails to
                    exercise any right or remedy contained herein, this shall not be construed
                    as a waiver of that right or remedy.
                </p>
                <h2>
                    20. Previous Terms and Conditions
                </h2>
                <p>
                    20.1 In the event of any conflict between these Terms and Conditions and
                    any prior versions thereof, the provisions of these Terms and Conditions
                    shall prevail unless it is expressly stated otherwise.
                </p>
                <h2>
                    21. Notices
                </h2>
                <p>
                    21.1 All notices / communications shall be given to us either by post to
                    our Premises (see address above) or by email to <a href="mailto:info@volosoft.com">info@volosoft.com</a>. Such notice will
                    be deemed received 3 days after posting if sent by first class post, the
                    day of sending if the email is received in full on a business day and on
                    the next business day if the email is sent on a weekend or public holiday.
                </p>
                <h2>
                    22. Law and Jurisdiction
                </h2>
                <p>
                    22.1 These terms and conditions and the relationship between you and
                    Volosoft Bilişim Anonim Şirketi shall be governed by and construed in
                    accordance with the Law of Turkey and Volosoft Bilişim Anonim Şirketi
                    and you agree to submit to the exclusive jurisdiction of the Courts of
                    Turkey.
                </p>
            </section>
        </div>
    </div>


    <div class="d-print-none">
        <div class="container">
            <div class="row">
                <div class="col-auto me-auto"></div>
                <div class="col-auto">
                    <abp-button icon="print" text="Print" onclick="javascript:window.print();"></abp-button>
                </div>
            </div>
        </div>
    </div>
</main>